# Configure u-boot to provide an EFI environment and allow loading EFI binaries from block devices
CONFIG_EFI_VARS=y
CONFIG_EFI_LOADER=y
CONFIG_CMD_BOOTEFI=y
CONFIG_BLK=y
CONFIG_PARTITIONS=y
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_OVERWRITE=y
#CONFIG_EFI_SECURE_BOOT=y