# In emulation, there's no support for RPMB, hence no way to establish a root of trust
# that is meaningful for the hardware, too. Instead of introducing more complexity in the
# emulated configuration, the use of TF-A and OP-TEE is rather informatory and u-boot
# simply uses insecure variables.
CONFIG_EFI_VARIABLE_FILE_STORE=y
CONFIG_EFI_VARIABLES_PRESEED=y
CONFIG_EFI_VAR_BUF_SIZE=65536
CONFIG_CMD_EFIDEBUG=y
CONFIG_FAT_WRITE=y