# Configure u-boot to provide an EFI environment.
# It will automatically scan the block device(s) for an EFI System Partition (ESP)
# and load EFI applications / payloads from there.
CONFIG_EFI_LOADER=y
CONFIG_CMD_BOOTEFI=y
CONFIG_EFI_PARTITION=y